#include <windows.h>

1001 DIALOGEX DISCARDABLE 0,0,400,320
STYLE WS_POPUP|DS_MODALFRAME|DS_3DLOOK|DS_CENTER|WS_CAPTION|WS_SYSMENU|WS_VISIBLE
FONT 8,"MS Shell Dlg",0,0,1
BEGIN
	CONTROL "S&AMPLE file...",4001,"Button",WS_TABSTOP,4,4,96,16
	CONTROL "",4002,"Edit",ES_READONLY|WS_BORDER|WS_TABSTOP,104,4,292,16
	CONTROL "&Filter flags",4003,"Button",BS_GROUPBOX,4,24,392,32
	CONTROL "",4004,"Edit",WS_BORDER|WS_TABSTOP,8,36,384,16
	CONTROL "&Generate source!",4005,"Button",WS_TABSTOP,4,60,196,16
	CONTROL "&Playback...",4006,"Button",WS_TABSTOP,200,60,196,16
	CONTROL "&SOURCE file...",4007,"Button",WS_TABSTOP,4,80,96,16
	CONTROL "",4008,"Edit",ES_READONLY|WS_BORDER|WS_TABSTOP,104,80,292,16
	CONTROL "&TARGET file...",4009,"Button",WS_TABSTOP,4,100,96,16
	CONTROL "",4010,"Edit",ES_READONLY|WS_BORDER|WS_TABSTOP,104,100,292,16
	CONTROL "Known &methods",4011,"Button",BS_GROUPBOX,4,120,392,140
	CONTROL "",4012,"ListBox",LBS_NOTIFY|WS_VSCROLL|WS_BORDER|WS_TABSTOP,8,132,384,112
	CONTROL "",4013,"Edit",ES_READONLY|WS_BORDER|WS_TABSTOP|SS_CENTER,8,244,384,12
	CONTROL "E&xtra flags",4014,"Button",BS_GROUPBOX,4,264,392,32
	CONTROL "",4015,"Edit",WS_BORDER|WS_TABSTOP,8,276,384,16
	CONTROL "&ENCODE!",4016,"Button",WS_TABSTOP,4,300,96,16
	CONTROL "&View log...",4017,"Button",WS_TABSTOP,100,300,72,16
	CONTROL "Exam&ine...",4018,"Button",WS_TABSTOP,172,300,72,16
	CONTROL "&Decode...",4019,"Button",WS_TABSTOP,244,300,72,16
	CONTROL "&Help...",4020,"Button",WS_TABSTOP,316,300,72,16
END

1002 DIALOGEX DISCARDABLE 0,0,336,320
STYLE WS_POPUP|DS_MODALFRAME|DS_3DLOOK|DS_CENTER|WS_CAPTION|WS_SYSMENU|WS_VISIBLE
FONT 8,"Courier",0,0,1
BEGIN
	CONTROL "",4001,"Edit",ES_READONLY|ES_MULTILINE|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP,0,0,336,320
END
